
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: Arial;
    font-size: 20px;
}

/* Container */
.container {
    margin: 5px;
    padding: 5px;
}

/* Header */
header {

}

.blue-block {
    background-color: #4ea0ff;
}

.blue-text {
    color: #4ea0ff;
}

.grey-text {
    color: #a2a2a2;
}

#logo {
    height: 50%;
}

#banner  {
    height: 20vh;
}

#pattern {
    background-image: url('../img/pattern.png');
}

h1 {
    font-size: 32px;
}






