
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    font-family: Arial;
    font-size: 15px;
}

/* Container */
.container {
    margin: 10px;
    padding: 10px;
}

/* Header */
header {

}

main div {
    padding: 20px 0 20px;
}

.blue-block {
    background-color: #4ea0ff;
}

.blue-text {
    color: #4ea0ff;
}

.grey-text {
    color: #a2a2a2;
    font-weight: 400;
}

/* Logo principale */
#logo {
    height: 2em;
}

#banner  {
    height: 18vh;
}

.pattern {
    background-image: url('../img/pattern.png');
    background-repeat: repeat;
}

#didascalia {
    font-size: 11px;
}

h1 {
    font-size: 32px;
}

img {
    max-width: 45%;
}

.evidenziato {
    background-color: yellow;
}





